<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
 </head>
  <body>
    <div>
      <h1>Please login</h1>
      <br>
      <form action="/login" method="post">
        <p>Username: <input type="text" placeholder="Username" name="user"></p>
	<p>Password: <input type="password" placeholder="Password" name="password">
	<input type="submit" value="Log In">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

